APP_HOST=localhost

DATABASE_HOST=localhost
DATABASE_NAME=clean-arch
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432
DATABASE_SCHEMA=public
DATABASE_SYNCHRONIZE=true
DATABASE_USER=postgres

GCP_PROJECT_ID="vitorblsantos"
GCP_TASKS_LOCATION="us-central1"
GCP_PROFILE_UPDATE_TASK_URL="http://localhost:8080/profiles"

PORT=8080
