APP_PORT=8080
APP_HOST=localhost

DATABASE_HOST=localhost
DATABASE_NAME=clean-arch
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432
DATABASE_SCHEMA=public
DATABASE_SYNCHRONIZE=false
DATABASE_USER=postgres
